aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anyio==4.10.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
dnspython
dotenv==0.9.9
et_xmlfile==2.0.0
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
MarkupSafe==3.0.2
multidict==6.6.4
numpy==2.3.2
openpyxl
packaging==25.0
pandas
pluggy==1.6.0
propcache==0.3.2
Pygments==2.19.2
pymongo
pyTelegramBotAPI==4.28.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv
python-telegram-bot
pytz
requests==2.32.5
six==1.17.0
sniffio==1.3.1
telebot==0.0.5
telegram==0.0.1
tqdm
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug
wheel==0.45.1
yarl==1.20.1
